#finetune-vis-container {
    margin: 30px 0px 0px 0px;
}
#finetune-vis-diag-container {
    display: flex;
    justify-content: space-between;
}

#finetune-vis-emb {
    display: inline-block;
    height: 400px;
    width: 400px;
}

#finetune-vis-model {
    display: inline-block;
    height: 400px;
    width: 200px;
}

#finetune-vis-vel-plots {
    display: inline-block;
}

#finetune-vis-vx-plot {
    height: 200px;
    width: 300px;
}

#finetune-vis-vy-plot {
    height: 200px;
    width: 300px;
}

/* Controls */
#finetune-vis-controls-container {
    margin: 0px 20px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#finetune-vis-button {
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    background: #555;
    color: white;
    border: none;
    border-radius: 3px;
    text-align: center;
}

#finetune-vis-slider {
    margin: 0px 30px 0px 10px;
}

.finetune-vis-metric {
    display: inline-block;
    margin: 0px 10px;
}

.finetune-vis-metric p {
    display: inline-block;
    width: 40px;
}
