#finetune-vis-container {
}

#finetune-vis-emb {
    display: inline-block;
    height: 400px;
    width: 400px;
}

#finetune-vis-model {
    display: inline-block;
    height: 400px;
    width: 200px;
}

#finetune-vis-vel-plots {
    display: inline-block;
}

#finetune-vis-vx-plot {
    height: 200px;
    width: 300px;
}

#finetune-vis-vy-plot {
    height: 200px;
    width: 300px;
}

#finetune-vis-button {
    width: 30px;
    height: 30px;
}

/* Add some basic styling to your slider */
#finetune-vis-slider-container {
    margin: 20px;
    margin-left: 0px;
}

#finetune-vis-slider {
    width: 40%;
    /* margin: 0 5px; */
    margin: 8px;
}
