#finetune-vis-container {
}

#finetune-vis-emb {
    display: inline-block;
    height: 400px;
    width: 400px;
}

#finetune-vis-model {
    display: inline-block;
    height: 400px;
    width: 200px;
}

#finetune-vis-vel-plots {
    display: inline-block;
}

#finetune-vis-vx-plot {
    height: 200px;
    width: 300px;
}

#finetune-vis-vy-plot {
    height: 200px;
    width: 300px;
}
