#query-vis-container-1 {
    display: flex;
    justify-content: center;
    align-items: bottom; /* can also be 'top' or 'bottom' */
    margin: 20px 0px 0px 0px;
}


#left-container {
    display: inline-block;
}

#query-vis-1 {
    display: block;
    height: 110px;
    width: 400px;
    margin-left: 200px;
}

#decoder {
    display: block;
    margin-top: 15px;
}

#output-container {
    display: inline-block;
    margin-top: 140px;
}

#output-vis-1, #output-vis-2 {
    display: block;  /* to stack them vertically */
    height: 120px;
    width: 400px;
    margin-top: 10px;
}


@keyframes moveDownThenRight {
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(40px) translateX(80px);
    }
}

.square {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    display: none;
}
